@import url('https://fonts.googleapis.com/css2?family=Syne+Mono&display=swap');

body{
    font-family: 'Syne Mono', monospace !important;
}

.error{
    color: black;
    text-align: center;
    background-color: whitesmoke;
    padding: 20px;
    border-radius: 5px;
    width: 200px;
    display: none;
}